<%- include('../partials/head') %>
    <%- include('../partials/header') %>
        <div class="register-container">
            <h2>Create an Account</h2>

            <form action="/account/register" method="POST">
                <label for="firstname">First Name:</label>
                <input type="text" name="firstname" required>

                <label for="lastname">Last Name:</label>
                <input type="text" name="lastname" required>

                <label for="email">Email:</label>
                <input type="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" name="password" required>

                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" required>

                <button type="submit">Register</button>
            </form>
        </div>

        <%- include('../partials/footer') %>