<nav>
  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-links" id="navLinks">
    <li><a href="/">Home</a></li>

    <% if (navList && navList.length> 0) { %>
      <% navList.forEach(classification=> { %>
        <li>
          <a href="/inv/type/<%= classification.classification_name.toLowerCase() %>">
            <%= classification.classification_name %>
          </a>
        </li>
        <% }); %>
          <% } %>
  </ul>
</nav>