<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
  <header>
    <%- include('./partials/header') %>
    <nav>
        <%- include('./partials/navigations') %>
    </nav>
  </header>
  <main>
    <div class="container">
        <h2>Welcome to CSE Motors!</h2>
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
        <div class="car-section">
            <p>DMC Delorean</p>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <a href="#" class="btn">Own Today</a>
        </div>
        <div class="upgrades">
            <h3>Delorean Upgrades</h3>
            <div id="upgrades1">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p>Flux Capacitor</p>
            </div>
            <div id="upgrades2">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <p>Flame Decals</p>
            </div>
            <div id="upgrades3">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p>Bumper Stickers</p>
            </div>
            <div id="upgrades4">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <p>Hub Caps</p>
            </div>
        </div>

        <div class="reviews">
            <h3>DMC Delorean Reviews</h3>
            <div>
                <p>"So fast it's almost like traveling in time." (4/5)</p>
            </div>
            <div>
                <p>"Coolest ride on the road." (4/5)</p>
            </div>
            <div>
                <p>"I'm feeling McFly!" (5/5)</p>
            </div>
            <div>
                <p>"The most futuristic ride of our day." (4.5/5)</p>
            </div>
            <div>
                <p>"80's livin and I love it!" (5/5)</p>
            </div>
        </div>
    </div>
  </main>
  <footer>
    <%- include('./partials/footer') %>
  </footer>

</body>
</html>
