<%- include('../partials/header.ejs') %>

<h1>Inventory Management</h1>

<!-- Flash Messages -->
<% if (messages) { %>
  <p class="flash-message"><%= messages %></p>
<% } %>

<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Inventory</a></li>
</ul>

<%- include('../partials/footer.ejs') %>
